@ChildContent
<br />
<div>
    @* hiển thị tên đường truyền từ cha xuống *@
    @fullName
</div>
@code {
    [Parameter]
    public string fullName { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}