@* login có đường dẫn là localhost: xxx/login đây là trang đăng nhập *@
@page "/login"

@* phần code giao diện *@

<br>
<h3>Login</h3>
<div class="form-group">
<label for="user name">username</label>
<input type="text" class="from-control" id="username" placeholder="Enter username" />
</div>
<div class="form-group">
<label for="password">password</label>
<input type="password" class="from-control" id="password" placeholder="Enter password" />
</div>
<button class="btn btn-primary">login</button>