@page "/trang-ca-nhan"
@page "/profile"

<div class="row">
    <div class="col-4 card ">
        <img class="card-img-top" src="https://i.pravatar.cc?u=1" alt="Title" />

        <div class="card-body">
            <h4 class="card-title">@Name</h4>
            <p class="card-text">DEV</p>
            <p>Tổng của 3 và 5 là @Tong2So(5, 5)</p>
        </div>
    </div>

    <div class="card col-4">
        <img class="card-img-top" src="https://i.pravatar.cc?u=@Count" alt="Title" />
        <div class="card-body">
            <p>@Count</p>
            <button class='btn btn-info' @onclick="Like">Like</button>
        </div>
    </div>
</div>


@code {
    @* code c# ở đây để tương tác lên giao
    diện *@
    String Name { get; set; } = "Phương ";
    int Tong2So(int a, int b)
    {
        return a + b;
    }
    int Count = 0;
    void Like (){
        Count++;
    }
    @* double *@

}