@namespace blazor.Shared
@* có thể không khai báo thì sẽ tự hiểu là *@

@inherits LayoutComponentBase
<header style="background-color: #f8f9fa; padding: 10px;" class="d-flex justfy-content-between align-items-center">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <NavLink class="nav-link " aria-current="page" href="/" ActiveClass="active" Match="NavLinkMatch.All">Home
            </NavLink>
        </li>

        <li class="nav-item">
            <NavLink ActiveClass="active" Match="NavLinkMatch.Prefix" class="nav-link" href="/login">Login</NavLink>
        </li>
        <li class="nav-item">
            <NavLink ActiveClass="active" Match="NavLinkMatch.Prefix" class="nav-link" href="/profile">profile</NavLink>
        </li>
        <li class="nav-item">
            <NavLink ActiveClass="active" Match="NavLinkMatch.Prefix" class="nav-link" href="/Admin">Admin</NavLink>
        </li>
        <li class="nav-item">
            <NavLink ActiveClass="active" Match="NavLinkMatch.Prefix" class="nav-link" href="/change-car-color">Car
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink ActiveClass="active" Match="NavLinkMatch.Prefix" class="nav-link" href="/register">register
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink ActiveClass="active" Match="NavLinkMatch.Prefix" class="nav-link" href="/ref">REF</NavLink>
        </li>
        <li class="nav-item">
            <NavLink ActiveClass="active" Match="NavLinkMatch.Prefix" class="nav-link" href="/ban-xe">Bán Xe</NavLink>
        </li>
        <li class="nav-item">
            <NavLink ActiveClass="active" Match="NavLinkMatch.Prefix" class="nav-link" href="/ban-dien-thoai">Bán điện
                thoại</NavLink>
        </li>
        <li class="nav-item">
            <NavLink activeClass="active" Match="NavLinkMatch.Prefix" class="nav-link" href="/on-init">
                Lifecycle- on init
            </NavLink>
        </li>

    </ul>
</header>
<section>
    @Body
</section>